/* icons */
.glyphicon-thumbs-down,
.glyphicon-thumbs-up {
	cursor: pointer;
	margin-right: 5px;
}

/* form submit area */
form {
	margin-top: 30px;
}

/* view all posts */
.posts {
	margin-bottom: 10px;
}
.posts a {
	min-width: 65px;
}

/* comment area */
.comment {
}
.comment span {
}